

body
        {background-color:#a9d7d1;
        font-family: helvetica;
        font-size:17px;
        }
.block { 
        background-color:white; 
        border:1px solid #fff;
        padding:10px;
        border-radius: 2px;
        width: 620px;
        margin: auto;}
.textarea {width:300px;
          height:60px;
          }
.select {width:140px;
        height:35px;}
.text   {height:30px;
        width: 300px;}

p {margin-top:30px;}

 #top {margin-top:195px;}
 #top1 {margin-top:35px;}  
 #top2 {margin-top:45px;} 

 .center {text-align:center; }

 .bottum {color:white;
        background-color:#59ace0;
        width: 100px;
        height: 40px;
        border-radius:10%;
        font-size:17px;  }